<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flowru Client</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flowru_client</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ru.flowru.client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flowru</string>
			</array>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>РџСЂРёР»РѕР¶РµРЅРёСЋ РЅСѓР¶РµРЅ РґРѕСЃС‚СѓРї Рє РєР°РјРµСЂРµ РґР»СЏ СЃРєР°РЅРёСЂРѕРІР°РЅРёСЏ QR-РєРѕРґРѕРІ РєР»РёРµРЅС‚РѕРІ.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>РџСЂРёР»РѕР¶РµРЅРёСЋ РЅСѓР¶РµРЅ РґРѕСЃС‚СѓРї Рє РіРµРѕР»РѕРєР°С†РёРё РґР»СЏ СЂР°Р±РѕС‚С‹ СЃ Р°РґСЂРµСЃР°РјРё, РєР°СЂС‚РѕР№ Рё С„СѓРЅРєС†РёСЏРјРё, СЃРІСЏР·Р°РЅРЅС‹РјРё СЃ РјРµСЃС‚РѕРїРѕР»РѕР¶РµРЅРёРµРј.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>РџСЂРёР»РѕР¶РµРЅРёСЋ РЅСѓР¶РµРЅ РґРѕСЃС‚СѓРї Рє РіРµРѕР»РѕРєР°С†РёРё РґР»СЏ СЂР°Р±РѕС‚С‹ СЃ Р°РґСЂРµСЃР°РјРё, РєР°СЂС‚РѕР№ Рё С„СѓРЅРєС†РёСЏРјРё, СЃРІСЏР·Р°РЅРЅС‹РјРё СЃ РјРµСЃС‚РѕРїРѕР»РѕР¶РµРЅРёРµРј.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Используйте Face ID для быстрого и безопасного входа в Flowru.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>РџСЂРёР»РѕР¶РµРЅРёСЋ РЅСѓР¶РµРЅ РґРѕСЃС‚СѓРї Рє С„РѕС‚Рѕ, С‡С‚РѕР±С‹ РІС‹ РјРѕРіР»Рё РІС‹Р±РёСЂР°С‚СЊ Рё РѕС‚РїСЂР°РІР»СЏС‚СЊ РёР·РѕР±СЂР°Р¶РµРЅРёСЏ РІ С‡Р°С‚Рµ.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>РџСЂРёР»РѕР¶РµРЅРёСЋ РЅСѓР¶РµРЅ РґРѕСЃС‚СѓРї Рє РјРёРєСЂРѕС„РѕРЅСѓ, С‡С‚РѕР±С‹ РІС‹ РјРѕРіР»Рё Р·Р°РїРёСЃС‹РІР°С‚СЊ Рё РѕС‚РїСЂР°РІР»СЏС‚СЊ РіРѕР»РѕСЃРѕРІС‹Рµ СЃРѕРѕР±С‰РµРЅРёСЏ.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
